*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: #000;
    width: 00%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
    
}
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 94, 255, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 40px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2rem;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: white;
    padding: 15px 35px;
    color: #1680ac;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: white;
    font-size: 1.6rem;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
    background: #2696E9; 
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.3)
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.5s;
    transition-property: clip path;
}

/* Wonderful Isalnd events */

.isalnd{
    width: 100%;
    height: auto;
    justify-content: space-around;
    background-color: rgba(33, 174, 255, 0.3);
    padding: 25px;
    flex-basis: 50%;
    position: relative;
}

.isalnd h2{
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    text-shadow: 0 0 15px #000;
}

.events{
    width: 370px;
    height: 240px;
    display: inline-block;
    border-radius: 26px;
    
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 58px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.events img{
    width: 370px;
    height: 240px;
    position: relative;
    top: 0%;
    border-radius: 15px;
}

.events:hover{
    transform: translateY(-10px);
}
.events h5{
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    margin-right: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: white;
  }
  
  /* Modal Body */
  .modal-body1 {
    padding: 247px 14px;
    background-image: url(hevlock-island.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.modal-body2 {
    padding: 247px 14px;
    background-image: url(kerala.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.modal-body3 {
    padding: 247px 14px;
    background-image: url(lakshdweep.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.modal-body4 {
    padding: 247px 14px;
    background-image: url(goa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.modal-body5 {
    padding: 247px 14px;
    background-image: url(karntaka.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.modal-body6 {
    padding: 247px 14px;
    background-image: url(Rameshwaram.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #000000;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        margin: 20px;
    }
    header .navigation.active .navigation-items{
        background: url(poster1\ bg.jpg)no-repeat;
        width: 34%;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-shadow:  0px 5px 25px rgb(1 1 1/ 20%);
    }
    header .navigation .navigation-items a:before{
        background: rgb(0, 0, 0);
        height: 5px;
    }
    .menu-btn{
        background: url(menu.jpg)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        
        left: 70%;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 49px;
        background-position: center;
        transition: 0.3s ease;
    }
    .model-body1{
        padding: 138px 14px;
    }
    .model-body2{
        padding: 138px 14px;
    }
    .model-body3{
        padding: 138px 14px;
    }
    .model-body4{
        padding: 156px 14px;
    }
    .model-body5{
        padding: 138px 14px;
    }
    .model-body6{
        padding: 138px 14px;
    }
    .events img{
        left: 63%;
    }
    .events h5{
        margin-left: 375px;
        text-align: center;
    }
}
@media (max-width: 830px){
    .events img {
        left: 30%;
    }
    .events h5{
        margin-left: 236px;
        text-align: center;
    }
}
@media (max-width: 545px){
    .home .content h1{
        font-size: 2rem;
        letter-spacing: 19px;
    }
    header .navigation.active .navigation-items{
        width: 52%;
    }
    .modal-body1{
        padding: 120px 14px;
    }
    .modal-body2{
        padding: 120px 14px;
    }
    .modal-body3{
        padding: 120px 14px;
    }
    .modal-body4{
        padding: 120px 14px;
    }
    .modal-body5{
        padding: 120px 14px;
    }
    .modal-body6{
        padding: 120px 14px;
    }
    .events img{
        left: 0;
    }
    .events h5{
        margin-left: 0;
    }
    
}
@media (max-width: 420px){
    .home .content h1{
        font-size: 2rem;
        letter-spacing: 13px;
    }
    header .navigation.active .navigation-items{
        width: 60%;
    }
    section{
        margin: 80px 0px:
    }
    .modal-body1{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body2{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body3{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body4{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body5{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body6{
        padding: 82px 14px;
        background-size: cover;
    }
    .events{
        margin-left: -66px;
        margin: 0px -44px;
    }
    .events img{
        width: 336px;
        height: 218px;
        position: relative;
        top: 0%;
        border-radius: 15px;
        left: 15%;
    }
    .menu-btn{
        left: 65%;
    }
    .events h5{
        margin-left: 73px;
    }
    .modal-content{
        width: 96%;
        margin-right: 3%;
    }
}
@media (max-width: 370px){
    .home .content h1{
        font-size: 2rem;
        letter-spacing: 10px;
    }
    header .navigation.active{
        width: 100%;
    }
    header .navigation.active .navigation-items{
        width: 100%;
        
    }
    .events img{
        width: 284px;
        height: 187px;
        position: relative;
        top: 0%;
        border-radius: 15px;
        left: 15%;
    }
    .events h5{
        margin-left: 12px;
    }
    section{
        padding: 200px 40px;
    }
    .modal-body1{
        padding: 131px 118px;
    }
    .modal-body2{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body3{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body4{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body5{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-body6{
        padding: 82px 14px;
        background-size: cover;
    }
    .modal-content{
        width: 52%;
        height:max-content;
        margin-right: 77%;
    }
}
